window {
  margin: 0px;
  border: 2px solid #403d52;
  background-color: rgba(25, 23, 36, 0.9);
  /* fondo oscuro con transparencia */
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: none;
  background-color: rgba(40, 37, 54, 0.6);
  color: #e0def4;
}

#input:focus {
  outline: 2px solid #c4a7e7;
}

#inner-box {
  margin: 5px;
  background-color: rgba(25, 23, 36, 0.5);
}

#outer-box {
  margin: 10px;
  background-color: transparent;
}

#scroll {
  margin: 0px;
}

#text {
  padding: 5px;
  color: #e0def4;
}

#entry {
  padding: 5px;
  border-radius: 4px;
}

#entry:selected {
  background-color: rgba(136, 57, 239, 0.5);
  color: #ffffff;
}
